{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "modules": false,
        "targets": {
          "browsers": "last 2 chrome versions"
        }
      }
    ],
    "stage-1",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    ["transform-class-properties", { "loose": true }]
  ]
}
